<div class="card widget">
  <div class="card-content">
    <a class="twitter-timeline" data-height="1200" data-theme="light" href="https://twitter.com/<%= get_config('twitter.account') %>">Tweets by <%= get_config('twitter.account') %></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
